.MyShadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.MyShadow2{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.MyShadow3{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.square1{
    scale: 1;
}